<button *ngIf="canCreateRecobro" [disabled]="loadingAction" id="addNewRecobroButton" routerLink="new" mat-raised-button
  color="primary">Nuevo
  recobro</button>


<table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="sinisterNumber">
    <th mat-sort-header mat-header-cell *matHeaderCellDef>N. Siniestro</th>
    <td mat-cell *matCellDef="let recobro"> {{recobro.sinisterNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="codSinister">
    <th mat-sort-header mat-header-cell *matHeaderCellDef>N. Encargo</th>
    <td mat-cell *matCellDef="let recobro"> {{recobro.codSinister}} </td>
  </ng-container>

  <ng-container matColumnDef="initDate">
    <th mat-sort-header mat-header-cell *matHeaderCellDef>Fecha Inicio</th>
    <td mat-cell *matCellDef="let recobro"> {{recobro.initDate | date: 'dd/MM/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="recoverySituation">
    <th mat-sort-header mat-header-cell *matHeaderCellDef>Situación Recobro</th>
    <td mat-cell *matCellDef="let recobro"> {{recobro.recoverySituation}} </td>
  </ng-container>

  <ng-container matColumnDef="recoveryRoute">
    <th mat-sort-header mat-header-cell *matHeaderCellDef>Vía Recobro</th>
    <td mat-cell *matCellDef="let recobro"> {{recobro.recoveryRoute}} </td>
  </ng-container>

  <ng-container matColumnDef="situationManagement">
    <th mat-sort-header mat-header-cell *matHeaderCellDef>Estado Gestión</th>
    <td mat-cell *matCellDef="let recobro"> {{recobro.situationManagement}} </td>
  </ng-container>

  <ng-container matColumnDef="situationDate">
    <th mat-sort-header mat-header-cell *matHeaderCellDef>Fecha Situación</th>
    <td mat-cell *matCellDef="let recobro"> {{recobro.situationDate | date: 'dd/MM/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="company">
    <th mat-sort-header mat-header-cell *matHeaderCellDef>Compañía</th>
    <td mat-cell *matCellDef="let recobro"> {{recobro.company}} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-sort-header mat-header-cell *matHeaderCellDef>Editar</th>
    <td mat-cell *matCellDef="let recobro">
      <button [routerLink]="['edit', recobro.id]" mat-icon-button color="primary">
        <mat-icon>create</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
