<header id="mainNav">
  <mat-toolbar *ngIf="!isUserLoggedIn; else loggedInNav" color="primary">
    Recobros
    <span class="spacer"></span>
    <button mat-flat-button color="primary" routerLink="login">Log in</button>
  </mat-toolbar>
  <ng-template #loggedInNav>
    <mat-toolbar color="primary">
      Recobros
      <span class="spacer"></span>
      <p *ngIf="currentUser">Bienvenido, {{currentUser.name}}</p>
    </mat-toolbar>
  </ng-template>
</header>

<section id="main">
  <mat-sidenav-container>
    <mat-sidenav fixedInViewport="true" id="sidenav" mode="side" [opened]="isUserLoggedIn">
      <mat-toolbar>
        <mat-toolbar-row>
          <h2>Recobros</h2>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-nav-list *ngIf="sidenavLinks">
        <div *ngFor="let key of objectKeys(sidenavLinks)">
          <h2 matSubheader>{{ key }}</h2>
          <a *ngFor="let element of sidenavLinks[key]" mat-list-item routerLink="{{ element.path }}"
            routerLinkActive="list-item-active">
            <mat-icon matListIcon>{{ element.icon }}</mat-icon>
            {{ element.title }}
          </a>
          <mat-divider></mat-divider>
        </div>
        <div>
          <a mat-list-item (click)="logout()">
            <mat-icon matListIcon>exit_to_app</mat-icon>
            Cerrar sesión
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
<footer></footer>
