.spacer {
  flex: 1 0 auto;
}

button {
  margin: 0 10px;
}

#sidenav {
  width: 250px;
}

#mainNav {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.mat-list-base {
  padding-top: 30px;
  .mat-list-item,
  .mat-list-subheader {
    height: auto;
  }
  .mat-list-item {
    padding: 10px 0;
  }
  .mat-list-subheader {
    padding: 0 16px;
    margin-top: 0;
  }
}

.mat-drawer-content {
  overflow: visible;
  margin-top: 60px;
}

.mat-sidenav {
  background-color: var(--color-accent);
}

.mat-drawer-container {
  background-color: transparent;
  .container {
    padding: 0;
  }
  padding-top: 60px;
  padding-bottom: 60px;
  .mat-list-item {
    color: white;
  }
  .mat-subheader {
    color: #3d96f5;
    font-weight: lighter;
  }
  mat-divider {
    border-top-color: #3d96f5;
    margin: 10px;
  }
}

mat-toolbar p {
  font-size: 14px;
  margin: auto;
}
