form {
  padding: 0;
}

#uploadFileContainer {
  max-width: 350px;
  &::ng-deep .mat-form-field-infix {
    padding-right: 50px;
  }
  button {
    position: relative;
    left: -50px;
    top: 4px;
  }
}
table {
  width: 100%;
}
button[type='submit'] {
  margin-top: 25px;
}
