<div class="container" id="loginWrapper">
  <mat-card class="box">
    <mat-card-header class="justify-content-center">
      <mat-card-title class="section-title">Iniciar sesión</mat-card-title>
    </mat-card-header>

    <mat-card-content class="forgot-password">
      <form
        ngNativeValidate
        class="text-center"
        #loginForm="ngForm"
        (ngSubmit)="onSubmit(loginForm)"
      >
        <mat-card-content>
          <mat-form-field appearance="fill" [floatLabel]="'always'" class="width-input">
            <mat-label>Nombre de usuario</mat-label>
            <input ngModel matInput required name="username" />
          </mat-form-field>
          <mat-form-field appearance="fill" [floatLabel]="'always'" class="width-input">
            <input ngModel matInput required name="password" [type]="hide ? 'password' : 'text'" />
            <mat-label>
              Contraseña
            </mat-label>
            <mat-icon matSuffix (click)="hide = !hide">{{
              hide ? "visibility_off" : "visibility"
            }}</mat-icon>
          </mat-form-field>
        </mat-card-content>
        <button mat-flat-button color="primary" class="btn-block">
          <mat-icon>chevron_right</mat-icon> Iniciar sesión
        </button>
      </form>
      <a
        href="javascript:void(0)"
        id="forgotPassword"
        color="primary"
        class="btn-block"
        (click)="openDialog()"
      >
        ¿Olvidó su contraseña?
      </a>
    </mat-card-content>

    <ng-template #dialogRef let-data>
      <div mat-dialog-content>
        <form
          class="text-center"
          ngNativeValidate
          (ngSubmit)="onResetUserPassword($event.target.emailAddress.value)"
        >
          <mat-form-field [floatLabel]="'always'">
            <mat-label>Introduzca su email, por favor</mat-label>
            <input matInput type="text" name="emailAddress" required />
          </mat-form-field>
          <div mat-dialog-actions>
            <button mat-flat-button color="primary" class="btn-block">Enviar</button>
          </div>
        </form>
      </div>
    </ng-template>
  </mat-card>
</div>
