/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import 'custom-theme.scss';

html,
body {
  height: 100%;
}
button {
  // border-radius: 0px !important;
  // padding: 2px 16px 2px 16px !important;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #ededeb;
  &.\/login {
    background-color: var(--color-primary);
  }
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  background-color: white;
  padding-bottom: 60px;
  &.padding-x {
    padding-left: 5%;
    padding-right: 5%;
  }
  &.padding-y {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.section-title {
  background-color: var(--color-accent);
  padding: 30px;
  color: white;
}

form {
  padding: 0 2.5%;
}
.snackbar-error {
  background: #ea3a64;
}

.forgot-password {
  margin: 10px 0;
  text-align: center;
}

.mat-form-field {
  width: 100%;
}

// .mat-form-field-flex {
//   background: #ededeb;
//   padding: 10px 0 0 10px;
// }
.mat-form-field-label {
  color: #04284e;
  text-transform: uppercase;
}
