<div>
  <ng-container [ngSwitch]="field.type">
    <mat-form-field *ngSwitchCase="'textarea'" appearance="fill">
      <mat-label>{{ field.label }}</mat-label>
      <textarea
        name="{{ field.name }}"
        [ngModel]="field.value"
        [required]="field.required"
        matInput
        rows="1"
      ></textarea>
    </mat-form-field>
    <!--  -->
    <mat-form-field *ngSwitchCase="'select'" appearance="fill">
      <mat-label>{{ field.label }}</mat-label>
      <select
        name="{{ field.name }}"
        [ngModel]="field.value"
        [required]="field.required"
        matNativeControl
      >
        <option *ngFor="let option of field.options" value="{{ option.value }}">
          {{ option.label }}
        </option>
      </select>
    </mat-form-field>
    <!--  -->
    <ng-container *ngSwitchCase="'checkbox'">
      <mat-checkbox
        name="{{ field.name }}"
        [ngModel]="field.value || false"
        value="true"
      >
        {{ field.label }}
      </mat-checkbox>
    </ng-container>

    <!--  -->
    <mat-form-field *ngSwitchDefault appearance="fill">
      <mat-label>{{ field.label }}</mat-label>
      <input
        name="{{ field.name }}"
        [ngModel]="field.value"
        [required]="field.required"
        [disabled]="field.disabled"
        class="{{ field.type }}"
        type="{{ field.type }}"
        matInput
      />
    </mat-form-field>
  </ng-container>
</div>
