<div>
  <ng-container [ngSwitch]="field.type">
    <label style="display: block;">{{ field.label }}</label>
    <mat-form-field
      [floatLabel]="'always'"
      *ngSwitchCase="'textarea'"
      appearance="fill"
    >
      <mat-label>{{ field.label }}</mat-label>
      <textarea
        name="{{ field.name }}"
        [ngModel]="field.value"
        [required]="field.required"
        [disabled]="field.disabled"
        matInput
        rows="1"
      ></textarea>
    </mat-form-field>
    <!--  -->
    <mat-form-field
      [floatLabel]="'always'"
      *ngSwitchCase="'select'"
      appearance="fill"
    >
      <mat-label>{{ field.label }}</mat-label>
      <select
        name="{{ field.name }}"
        [ngModel]="field.value"
        [required]="field.required"
        [disabled]="field.disabled"
        matNativeControl
      >
        <option value="" disabled></option>
        <option
          *ngFor="let option of field.options"
          [ngValue]="option.value"
          [disabled]="option.disabled"
        >
          {{ option.label }}
        </option>
      </select>
    </mat-form-field>
    <!--  -->
    <ng-container *ngSwitchCase="'checkbox'">
      <mat-checkbox
        name="{{ field.name }}"
        [disabled]="field.disabled"
        [ngModel]="field.value || false"
        value="true"
      >
      </mat-checkbox>
    </ng-container>

    <!--  -->
    <mat-form-field [floatLabel]="'always'" *ngSwitchDefault appearance="fill">
      <mat-label>{{ field.label }}</mat-label>
      <span *ngIf="field.prefix" matPrefix>{{ field.prefix }}</span>
      <input
        name="{{ field.name }}"
        [ngModel]="field.value"
        [required]="field.required"
        [disabled]="field.disabled"
        [attr.step]="field.type === 'number' ? 'any' : null"
        class="{{ field.type }}"
        type="{{ field.type }}"
        matInput
      />
      <mat-hint *ngIf="field.hint">{{ field.hint }}</mat-hint>
    </mat-form-field>
  </ng-container>
</div>
