<div class="container">
  <h1 class="section-title">Nuevo Recobro</h1>
  <form
    ngNativeValidate
    #newRecobroForm="ngForm"
    (submit)="createNewRecobro(newRecobroForm)"
  >
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
      <ng-container *ngFor="let field of newRecobroFields">
        <alvea-dynamic-field
          fxFlex="0 0 48%"
          *ngIf="
            (field.fixedDisplayCondition !== undefined
              ? field.fixedDisplayCondition
              : true) &&
            (field.dynamicDisplayCondition !== undefined
              ? field.dynamicDisplayCondition(this.newRecobroForm)
              : true)
          "
          [field]="field"
        ></alvea-dynamic-field>
      </ng-container>
    </div>

    <br />
    <button
      [disabled]="!newRecobroForm.form.valid || loadingAction"
      mat-raised-button
      color="primary"
    >
      <mat-icon>add_circle</mat-icon>

      Crear recobro
      <mat-spinner *ngIf="loadingAction" id="spinner" [diameter]="20">
      </mat-spinner>
    </button>
  </form>
</div>
